@charset 'UTF-8'

body{
    background-color: rgb(199, 236, 224);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #27B382;
}

h1#principal{
    text-align: center;
    background-color: #356655;
}

h2{
    color:#16664A;
}

.basico{
    color: #356655;
}

.inter{
    color: yellow;
}

.avancado{
    color: red;
}