@charset 'UTF-8';

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left,#66401A,#A38567,#D6AF87);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.623);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #3a240e;
    text-align: center;
    text-shadow: 1px 1px 2px, black;
}

h2{
    color: #523a23;
}

p{
    text-align: justify;
}