@charset 'UTF-8';

body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    color: rgb(31, 24, 24);
    background-color: rgb(202, 200, 45);
}
h2{
    color: rgb(55, 65, 12);
}
p{
    text-align: justify;
}